In [1]:
!pip install sqlalchemy

Collecting sqlalchemy
  Using cached SQLAlchemy-2.0.19-cp39-cp39-macosx_11_0_arm64.whl (2.0 MB)
Requirement already satisfied: typing-extensions>=4.2.0 in ./venv/lib/python3.9/site-packages (from sqlalchemy) (4.7.1)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.19

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [2]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.7-cp39-cp39-macosx_11_0_arm64.whl (2.5 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.7

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd
import io
import os
import requests
import gzip

/Users/abidakunabisoye/airflow_data_engineering/venv/lib/python3.9/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [6]:
file_name = "yellow_tripdata_2021-01.csv.gz"

request_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz" 
# download the data from URL 
r = requests.get(request_url)
open(f'{file_name}', 'wb').write(r.content)
df = pd.read_csv(f'{file_name}', encoding='unicode_escape', low_memory=False)

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [8]:
# Import the sqlalchemy for accessing the database 
from sqlalchemy import create_engine

In [9]:
# Create a connection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
# Create Schema
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
# Use iterator.
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv.gz", iterator=True,encoding='unicode_escape', chunksize=100000,low_memory=False)

In [13]:
df.shape

(1369765, 18)

In [14]:
df = next(df_iter)

In [15]:
df.shape

(100000, 18)

In [16]:
# Change the two date_time columns into actual date_time objects 
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
#Creates a table with certain headers only the column headers  
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [18]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [19]:
while True:
    try:
        df = next(df_iter)
        
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
        print('Insertion is for this chunk was successfull')

    except StopIteration:
        print('Loading has ended')
        break

Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Insertion is for this chunk was successfull
Loaded has ended